<div class="bottom-container">
    <div class="rename-modules">
        <%- include('./rename_modules/rm01_name.ejs') %>
        <%- include('./rename_modules/rm02_replace.ejs') %>
        <!-- <div class="rename-module">
            <h3>Rename Options</h3> -->
            
            <!-- Prefix Option -->
            <!-- <div class="rename-option">
                <div class="rename-option-header">
                    <input type="checkbox" class="rename-option-checkbox" id="prefixCheckbox">
                    <label for="prefixCheckbox">Prefix</label>
                </div>
                <div class="rename-control">
                    <label>Text:</label>
                    <input type="text" id="prefixText" placeholder="Enter prefix" disabled>
                </div>
            </div> -->
            
            <!-- Suffix Option -->
            <!-- <div class="rename-option">
                <div class="rename-option-header">
                    <input type="checkbox" class="rename-option-checkbox" id="suffixCheckbox">
                    <label for="suffixCheckbox">Suffix</label>
                </div>
                <div class="rename-control">
                    <label>Text:</label>
                    <input type="text" id="suffixText" placeholder="Enter suffix" disabled>
                </div>
            </div> -->
            
            <!-- Insert Option -->
            <!-- <div class="rename-option">
                <div class="rename-option-header">
                    <input type="checkbox" class="rename-option-checkbox" id="insertCheckbox">
                    <label for="insertCheckbox">Insert</label>
                </div>
                <div class="rename-control">
                    <label>Text:</label>
                    <input type="text" id="insertText" placeholder="Text to insert" disabled>
                </div>
                <div class="rename-control">
                    <label>Position:</label>
                    <input type="number" id="insertPosition" placeholder="Position" min="0" value="0" disabled>
                </div>
            </div> -->
        </div>
    </div>

    <div class="button-container">
        <button class="action-button reset-btn" id="resetButton">Reset</button>
        <button class="action-button dry-run-btn" id="dryRunButton">Dry Run</button>
        <button class="action-button rename-btn" id="renameButton">Rename</button>
    </div>
</div>