<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="01_nameModuleCheckbox">
        <label for="01_nameModuleCheckbox"><h3>Name [1]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>Operation</label>
            <select id="01_nameOperation">
                <option value="Keep" selected>Keep (Same)</option>
                <option value="Remove">New Name</option>
                <option value="Reverse">Reverse</option>
            </select>
        </div>
        <div class="rename-control">
            <label>New Name</label>
            <input type="text" id="01_nameText" disabled>
        </div>
    </div>
</div>