<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="02replaceModuleCheckbox">
        <label for="02replaceModuleCheckbox"><h3>Replace [2]</h3></label>
    </div>