<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="02_replaceModuleCheckbox">
        <label for="02_replaceModuleCheckbox"><h3>Replace [2]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>Replace:</label>
            <input type="text" id="02_replaceText" placeholder="Text to replace">
        </div>

        <div class="rename-control">
            <label>With:</label>
            <input type="text" id="02_replaceWithText" placeholder="Replacement text">
        </div>

        <div class="rename-control">
            <label class="checkbox-label">
                <input type="checkbox" id="02_replaceMatchCase">
                Match Case
            </label>
        </div>
    </div>
</div>