<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="02replaceModuleCheckbox">
        <label for="02replaceModuleCheckbox"><h3>Replace [2]</h3></label>
    </div>

    <div class="rename-module-content">

        <div class="rename-control">
            <label>Replace</label>
            <input type="text" id="02replaceText">
            <label>With</label>
            <input type="text" id="02replaceWithText">
            <label>Match Case</label>
            <input type="checkbox" id="02replaceMatchCase">
        </div>
    </div>