<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="caseModuleCheckbox">
        <label for="caseModuleCheckbox"><h3>Case [3]</h3></label>
    </div>

    <div class="">
        <div class="">
            <select id="caseOperation">
                <option value="Same" selected>Same</option>
                <option value="lower">lower</option>
                <option value="upper">UPPER</option>
                <option value="title">Title</option>
                <option value="sentence">Sentence</option>
                <option value="alternate">AlTeRnAtInG</option>
            </select>
        </div>
    </div>
</div>