<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="04_removeModuleCheckbox">
        <label for="04_removeModuleCheckbox"><h3>Remove [4]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>First n</label>
            <input type="number" id="04_first_n_Text" value="0" min="0" width="10px">
        </div>
        <div class="rename-control">
            <label>Last n</label>
            <input type="number" id="04_last_n_Text" value="0" min="0">
        </div>
        <hr>
        <div class="rename-control">
            <label>From</label>
            <input type="number" id="04_from_Text" value="0" min="0">
        </div>
        <div class="rename-control">
            <label>To</label>
            <input type="number" id="04_to_Text" value="0" min="0">
        </div>
    </div>
</div>