<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="05_addModuleCheckbox">
        <label for="05_addModuleCheckbox"><h3>Add [5]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>Prefix</label>
            <input type="text" id="05_prefix_Text">
        </div>
        <div class="rename-control">
            <label>Suffix</label>
            <input type="text" id="05_suffix_Text">
        </div>
        <hr>
        <div class="rename-control">
            <label>Insert</label>
            <input type="text" id="05_insert_Text">
        </div>
        <div class="rename-control">
            <label>At Pos</label>
            <input type="number" id="05_insert_Position" value="0" min="0">
        </div>
    </div>
</div>