<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="06_folderNameModuleCheckbox">
        <label for="06_folderNameModuleCheckbox"><h3>Add Folder Name [6]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>Mode</label>
                <select id="06_folderNameMode">
                    <option value="Prefix" selected>Prefix</option>
                    <option value="Suffix">Suffix</option>
                </select>
        </div>
        <div class="rename-control">
            <label>Sep</label>
            <input type="text" id="06_separator">
        </div>
        </div>
    </div>
</div>