<div class="rename-module">
    <div class="rename-option-header">
        <input type="checkbox" class="rename-module-checkbox" id="07_numberingModuleCheckbox">
        <label for="07_numberingModuleCheckbox"><h3>Numbering [7]</h3></label>
    </div>

    <div class="rename-module-content">
        <div class="rename-control">
            <label>Mode</label>
                <select id="07_numberingMode">
                    <option value="Prefix">Prefix</option>
                    <option value="Suffix" selected>Suffix</option>
                </select>
        </div>
        <div class="rename-control">
            <label>At Pos</label>
            <input type="number" id="07_at_Position" value="0" min="0">
        </div>
        <hr>
        <div class="rename-control">
            <label>Start</label>
            <input type="number" id="07_start_index" value="1" min="0">
        </div>
        <div class="rename-control">
            <label>Increment</label>
            <input type="number" id="07_increment" value="1" min="1">
        </div>
        <div class="rename-control">
            <label>Zero-Padding</label>
            <input type="number" id="07_padding" value="1" min="0">
        </div>
    </div>
</div>